  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@400;500&family=PT+Sans+Narrow:wght@700&family=PT+Serif:wght@700&family=REM:wght@500&family=Roboto:wght@500&display=swap');


  * {
      margin: 0;
      padding: 0;
      font-family: 'Bebas Neue', sans-serif;
      font-family: 'Kanit', sans-serif;
      font-family: 'PT Sans Narrow', sans-serif;
      font-family: 'PT Serif', serif;
      font-family: 'REM', sans-serif;
      font-family: 'Roboto', sans-serif;
  }

  header {
      padding: 20px;
      background: linear-gradient(45deg, red, blue);
      color: white;
  }

  nav {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
  }

  .logo {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .logo img {
      filter: invert(1);
      width: 35px;
  }

  .logo span {
      margin: 0px 10px;
      font-size: 30px;
  }

  nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
  }

  nav ul li a {
      text-decoration: none;
      color: white;
      margin: 0px 5px;
  }

  nav ul li a:hover {
      color: rgb(245, 172, 146);
  }

  main {
      min-height: 77.7vh;
  }

  .container {
      margin: 50px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }

  .container h1 {
      margin: 25px 0;
  }

  form {
      font-size: 25px;
  }
  #Email{
    border: none;
    width: 250px;
  }
  #Email[type='text']{
    font-size: 20px;
    color: rebeccapurple;
    border-bottom: 2px solid black;
    text-align: center;
    outline-width: 0px;
  }
  ::placeholder{
    color: red;
  }
  input:hover::placeholder {
    color: blue;
  }
  
  #submit{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 20px;
  }

  #submit:hover{
    border: 2px solid red;
    color: red;
    cursor: pointer;
  }

  .container2{
    width: 50vh;
    /* background-color: pink; */
    margin: auto;
  }

  .container2 h2{
    margin: 5vh 0vh 0vh 0vh;
  }
 
  #disp{
    /* background-color: rebeccapurple; */
    margin: 1vh 12vh 0vh 0vh;
    text-align: left;
  }
  footer {
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      letter-spacing: 3px;
  }

  @media only screen and (max-width:600px) {
    header{
        padding: 10px;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        margin: 10px auto;
    }
    #Email{
       margin: 3px 0 0 0;
      }
  }